Tippspiel/Tippspiel-Verwaltungsclient/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tippspiel_Server.Sources.Service.Models" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tippspiel_Server.Sources.Models" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBets" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBet_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBet" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBetResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBet_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBet" />
  </wsdl:message>
  <wsdl:message name="IService_EditBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBetResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBet" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBetResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBettors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBettors" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBettors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBettorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBettor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBettor" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBettor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBettorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBettor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBettor" />
  </wsdl:message>
  <wsdl:message name="IService_EditBettor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBettorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBettor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBettor" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBettor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBettorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatches" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMatch" />
  </wsdl:message>
  <wsdl:message name="IService_EditMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMatch" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSeasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeasons" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSeasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeason" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSeason" />
  </wsdl:message>
  <wsdl:message name="IService_EditSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeason" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeasonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeams" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeam" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTeam" />
  </wsdl:message>
  <wsdl:message name="IService_EditTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeam" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeasonsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsById" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeasonsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonsByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Ping" message="tns:IService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PingResponse" message="tns:IService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllBets" message="tns:IService_GetAllBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllBetsResponse" message="tns:IService_GetAllBets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateBet" message="tns:IService_CreateBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateBetResponse" message="tns:IService_CreateBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBet" message="tns:IService_EditBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBetResponse" message="tns:IService_EditBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBet" message="tns:IService_DeleteBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBetResponse" message="tns:IService_DeleteBet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBettors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllBettors" message="tns:IService_GetAllBettors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllBettorsResponse" message="tns:IService_GetAllBettors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBettor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateBettor" message="tns:IService_CreateBettor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateBettorResponse" message="tns:IService_CreateBettor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBettor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBettor" message="tns:IService_EditBettor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBettorResponse" message="tns:IService_EditBettor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBettor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBettor" message="tns:IService_DeleteBettor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBettorResponse" message="tns:IService_DeleteBettor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllMatches" message="tns:IService_GetAllMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllMatchesResponse" message="tns:IService_GetAllMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateMatch" message="tns:IService_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateMatchResponse" message="tns:IService_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditMatch" message="tns:IService_EditMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditMatchResponse" message="tns:IService_EditMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteMatch" message="tns:IService_DeleteMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteMatchResponse" message="tns:IService_DeleteMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSeasons" message="tns:IService_GetAllSeasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSeasonsResponse" message="tns:IService_GetAllSeasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateSeason" message="tns:IService_CreateSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateSeasonResponse" message="tns:IService_CreateSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditSeason" message="tns:IService_EditSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditSeasonResponse" message="tns:IService_EditSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteSeason" message="tns:IService_DeleteSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteSeasonResponse" message="tns:IService_DeleteSeason_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllTeams" message="tns:IService_GetAllTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllTeamsResponse" message="tns:IService_GetAllTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateTeam" message="tns:IService_CreateTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateTeamResponse" message="tns:IService_CreateTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditTeam" message="tns:IService_EditTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditTeamResponse" message="tns:IService_EditTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteTeam" message="tns:IService_DeleteTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteTeamResponse" message="tns:IService_DeleteTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasonsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSeasonsById" message="tns:IService_GetSeasonsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSeasonsByIdResponse" message="tns:IService_GetSeasonsById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBets">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBet">
      <soap:operation soapAction="http://tempuri.org/IService/CreateBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBet">
      <soap:operation soapAction="http://tempuri.org/IService/EditBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBet">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBettors">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllBettors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBettor">
      <soap:operation soapAction="http://tempuri.org/IService/CreateBettor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBettor">
      <soap:operation soapAction="http://tempuri.org/IService/EditBettor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBettor">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteBettor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMatches">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <soap:operation soapAction="http://tempuri.org/IService/CreateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMatch">
      <soap:operation soapAction="http://tempuri.org/IService/EditMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMatch">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeasons">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSeasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSeason">
      <soap:operation soapAction="http://tempuri.org/IService/CreateSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSeason">
      <soap:operation soapAction="http://tempuri.org/IService/EditSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeason">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTeam">
      <soap:operation soapAction="http://tempuri.org/IService/CreateTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeam">
      <soap:operation soapAction="http://tempuri.org/IService/EditTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasonsById">
      <soap:operation soapAction="http://tempuri.org/IService/GetSeasonsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>