Tippspiel/Tippspiel-Benutzerclient/Connected Services/ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tippspiel_Server.Sources.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tippspiel_Server.Sources.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Service/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBetMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BetMessage" nillable="true" type="tns:BetMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBetMessage" nillable="true" type="tns:ArrayOfBetMessage" />
  <xs:complexType name="BetMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="BettorId" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BetMessage" nillable="true" type="tns:BetMessage" />
  <xs:complexType name="ArrayOfBettorMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BettorMessage" nillable="true" type="tns:BettorMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBettorMessage" nillable="true" type="tns:ArrayOfBettorMessage" />
  <xs:complexType name="BettorMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BettorMessage" nillable="true" type="tns:BettorMessage" />
  <xs:complexType name="ArrayOfMatchMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchMessage" nillable="true" type="tns:MatchMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchMessage" nillable="true" type="tns:ArrayOfMatchMessage" />
  <xs:complexType name="MatchMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayTeamId" type="xs:int" />
      <xs:element minOccurs="0" name="AwayTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeTeamId" type="xs:int" />
      <xs:element minOccurs="0" name="HomeTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchDay" type="xs:int" />
      <xs:element minOccurs="0" name="SeasonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchMessage" nillable="true" type="tns:MatchMessage" />
  <xs:complexType name="ArrayOfSeasonMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeasonMessage" nillable="true" type="tns:SeasonMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeasonMessage" nillable="true" type="tns:ArrayOfSeasonMessage" />
  <xs:complexType name="SeasonMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TeamIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeasonMessage" nillable="true" type="tns:SeasonMessage" />
  <xs:complexType name="ArrayOfTeamMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamMessage" nillable="true" type="tns:TeamMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamMessage" nillable="true" type="tns:ArrayOfTeamMessage" />
  <xs:complexType name="TeamMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SeasonIDs" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamMessage" nillable="true" type="tns:TeamMessage" />
</xs:schema>