Tippspiel/Tippspiel-Verwaltungsclient/Connected Services/ServiceReference1/SeasonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeasonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Services/SeasonService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Services/SeasonService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Services/SeasonService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tippspiel_Server.Sources.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeasonService_GetAllSeasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeasons" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_GetAllSeasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeasonsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_RemoveSeason_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeason" />
  </wsdl:message>
  <wsdl:message name="ISeasonService_RemoveSeason_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeasonResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeasonService">
    <wsdl:operation name="GetAllSeasons">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/GetAllSeasons" message="tns:ISeasonService_GetAllSeasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/GetAllSeasonsResponse" message="tns:ISeasonService_GetAllSeasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeasonService/RemoveSeason" message="tns:ISeasonService_RemoveSeason_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeasonService/RemoveSeasonResponse" message="tns:ISeasonService_RemoveSeason_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeasonService" type="tns:ISeasonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSeasons">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/GetAllSeasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSeason">
      <soap:operation soapAction="http://tempuri.org/ISeasonService/RemoveSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeasonService">
    <wsdl:port name="BasicHttpBinding_ISeasonService" binding="tns:BasicHttpBinding_ISeasonService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Tippspiel_Server.Sources.Services/SeasonService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>